# OS files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files
hm_data/
data/
results/
models/
old_models/
old_experiments/
notebooks/03_out.ipynb
notebooks/04_svd_embedding.nbconvert.ipynb
notebooks/03_ranking_old.ipynb
*.zip
*.csv
*.parquet
*.feather

# Environments
venv/
.env/
.hm_rec/